{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous" />
  <title>{% block head_title %} {% endblock %}</title>
  <style>
    #loadingBar {
      position: fixed;
      top: 0;
      left: 0;
      width: 0%;
      height: 4px;
      z-index: 9999;
      transition: width 0.3s ease;
    }
  </style>
</head>

<body class="p-3">
  <div id="loadingBar" class="bg-primary"></div>

  <!-- Main Content -->
  <div class="container">{% block page_content %}{% endblock %}</div>

  {% block extra_js %}{% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js"
    integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK"
    crossorigin="anonymous"></script>
  <script>
    // Simulate loading
    document.getElementById('simulateLoad').addEventListener('click', function () {
      const loadingBar = document.getElementById('loadingBar');
      loadingBar.style.width = '0%';

      let progress = 0;
      const interval = setInterval(() => {
        progress += 5;
        loadingBar.style.width = `${progress}%`;

        if (progress >= 100) {
          clearInterval(interval);
          setTimeout(() => loadingBar.style.width = '0%', 300);
        }
      }, 100);
    });

  </script>
</body>

</html>